{
        "logLevel": "DEBUG",
        "port": 10080,
        "devMode": true,
        "saps":{
                "host" : "localhost",
                "port" : 8091,
                "getImagesEndpoint" : "/images"
        },
        "sattelities":[
                {"name":"sat4","sigla":"L4"},
                {"name":"sat5","sigla":"L5"},
                {"name":"sat7","sigla":"L7"}
        ]
}
